{% extends 'home_base.html' %}

{% block title %} Dashboard {% endblock %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard_styles.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form_styles.css') }}">
<link rel="icon" href="{{ url_for('static',filename='img/dash.png') }}" type="image/icon type">
{% endblock %}
{% block body %}

<div class="largeText">
    Dashboard
</div>


<div class="data-container-holder">
    <!-- <div class="data-container">
        NO DATA Available
        <div class="data-header-container">
        </div>
        <div class="data-table-container">
        </div>
    </div> -->

    <div class="table-title">
        {{form_name}}
    </div>

    <div class="scroll">
        <table class="table table-space">
            <thead>
              <tr>
                <th scope="col"> Sr. No.</th>
                {% for q in questions %}
                    <th scope="col">{{q}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
                {% for i in range(responses|length) %}
                    <tr class="row-link-h">
                        <th scope="row" class="data row-link" id="{{responses[i]['submission_id']}}">{{i+1}}</td>
                        {% for ans in responses[i]['answers'] %}
                            {% if ans['type'] == 'text' %}
                                <td class="data">{{ans['value']}}</th>
                            {% endif %}

                            {% if ans['type'] == 'image' %}
                                <td class="data">
                                    <img src="data:image/png;base64,{{ans['value']}}" alt="img" width="30">
                                </th>
                            {% endif %}

                            {% if ans['type'] == 'none' %}
                                <td class="data">
                                    ~
                                </th>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>


<script>
    elements = document.getElementsByClassName('data-container')

    window.setTimeout(()=> {
        for (let i = 0; i < elements.length; i++) {
        const element = elements[i];
        element.classList.add("data-container-start")
    }
    }, 100)

    window.setTimeout(() => {
        elements = document.getElementsByClassName('row-link')
        for (let i = 0; i < elements.length; i++) {
            const element = elements[i];
            element.addEventListener('click', () => {
                window.location.href = '{{site_url}}/{{form_id}}/response/' + element.id
            })
        }
    }, 500)

    
    
</script>

{% endblock %}