{% extends 'home_base.html' %}

{% block title %} Dashboard {% endblock %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard_styles.css') }}">
<link rel="icon" href="{{ url_for('static',filename='img/dash.png') }}" type="image/icon type">
{% endblock %}
{% block body %}

<div class="largeText">
    Export File
</div>
<div class="data-container-holder">
    <form action="./exportfile" method="get" target="_blank">
        <div class="export-center">
            <div class="time-period">
                Data Time Period
            </div>
            <select name="period" id="" class="form-select form-control-add" >
                    <option value="pd"> Past Day </option>
                    <option value="pw"> Past Week </option>
                    <option value="py"> Past Year </option>
                    <option value="at"> All Time </option>
            </select>
            <button type="submit" class="form-check btn btn-primary btn-blue">Get File</button>
        </div>
    </form>
</div>



{% endblock %}