/* 
#21BCF3
#19D25D
#FFBF00
#E83F6F
#731DD8
*/

:root {
    --bBlue: #21BCF3;
    --bGreen: #19D25D;
    --pOrange: #FFBF00;
    --pCrimson: #E83F6F;
    --pViolet: #731DD8;
    --bBlue100: #daecf2;
    --bBlue500: #70b1c9;
    --bBlue700: #3ea8cf;
    --bBlue900: #00384d;
    --bGreen100: #aaf2c4;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: inherit;
}

header{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.logo{
    color: var(--bBlue);
}

.navbar{
    display: flex;
    position: fixed;
    padding: 0.3em 5em;
    width: 100%;
    backdrop-filter: blur(3px);
    border-bottom: 0pt solid var(--bBlue100);
    box-shadow: 0 0px 0px var(--bBlue100);
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.top{
    display: flex;
    padding: 0.3em 2em;
    backdrop-filter: blur(3px);
    border-bottom: 1pt solid var(--bBlue100);
    box-shadow: 0 5px 10px var(--bBlue100);
    min-width: 10em;
}

.profile img{
    border: 2px solid var(--bGreen);
    border-radius: 50%;
    width: 20pt;
    height: 20pt;
    padding: 1px;
}

.navtabsleft{
    display: flex;
    flex-direction: row;
}
.navtabsright{
    display: flex;
    flex-direction: row;
    padding: 0.6em 1em;
    font-size: 1.1em;
}

.icons-holder{
    display: flex;
    flex-direction: row;
    padding: 0 1em;
}

.navtabsleftforms{
    display: flex;
    flex-direction: row;
    width: 70%;
}

.navtabsrightforms{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items:end;
    justify-content: end;
}

.navtab{
    display: flex;
    flex-direction: row;
    padding: 0.6em 1.5em;
    font-size: 1.1em;
}

.navtabforms{
    display: flex;
    flex-direction: row;
    padding: 1em 1em;
    font-size: 1.1em;
}

.navicon{
    margin-right: 5pt;
}

.icon{
    width: 35px;
    height: 35px;
}

.share-tray{
    margin-top: 0px;
    width: 0;
    float: left;
    display:none;
}

.share-tray-display{
    display:block;
    width: 0;
    float: left;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.share-tray-active{
    display: block;
    width: 15em;
}

.icon{
    padding: 7px;
}

.icon:hover{
    background-color: #f6f6f6;
    border-radius: 50%;
}
.icon:active{
    background-color: #bbb;
    border-radius: 50%;
}

.largeText{
    font-size: 72pt;
    text-align: center;
    font-weight: 200;
    padding: 2em 0 2.5em 0;
    color: #333;
}

.dev{
    border: 1pt solid orange;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1pt solid var(--bBlue100);
    box-shadow: 0 5px 5px var(--bBlue100);
}

#island{
    /* padding-bottom: 5pt; */
    margin-top:  -5pt;
}


footer{
    width: 100%;
    background-color: #222;
    min-height: 5em;
    color: #fff;
}

.dev-details{
    width: 70%;
    font-size: 11pt;
    margin: auto;
    padding-top: 3em;
}

main{
    min-height: 8in;
    padding-top: 1in;
}