:root {
    --bBlue: #21BCF3;
    --bGreen: #19D25D;
    --pOrange: #FFBF00;
    --pCrimson: #E83F6F;
    --pViolet: #731DD8;
    --bBlue100: #daecf2;
    --bBlue500: #70b1c9;
    --bBlue700: #3ea8cf;
    --bBlue900: #00384d;
    --bGreen100: #aaf2c4;
}

.data-container-holder{
    width: 100%;
    padding: 2em;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.data-container{
    width: 100%;
    padding: 1em;
    text-align: center;
    border: 0pt solid var(--bBlue100);
    box-shadow: 0 0px 0px var(--bBlue100);
    border-radius: 15px;
    height: 8in;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.data-container-start{
    border: 1pt solid var(--bBlue100);
    box-shadow: 0 10px 20px var(--bBlue100);
}

.scroll{
    margin: auto;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    height: 8in;
    overflow-x: scroll;
}

th{
    color: var(--bBlue700);
    font-weight: 300;
}

td, th{
    padding: 0 15px;
    margin: 15px;
    overflow: hidden;
    width: 200px;
}

.table-space{
    border-spacing: 40px 0;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

thead{
    border-color: var(--bBlue500);
}