:root {
    --bBlue: #21BCF3;
    --bGreen: #19D25D;
    --pOrange: #FFBF00;
    --pCrimson: #E83F6F;
    --pViolet: #731DD8;
    --bBlue100: #daecf2;
    --bBlue500: #70b1c9;
    --bBlue700: #3ea8cf;
    --bBlue900: #00384d;
    --bGreen100: #aaf2c4;
}

.data-container-holder{
    width: 100%;
    padding: 2em;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.data-container{
    width: 100%;
    padding: 1em;
    text-align: center;
    border: 0pt solid var(--bBlue100);
    box-shadow: 0 0px 0px var(--bBlue100);
    border-radius: 15px;
    min-height: 8in;
    overflow-y: visible;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.data-container-start{
    border: 1pt solid var(--bBlue100);
    box-shadow: 0 10px 20px var(--bBlue100);
}

.scroll{
    margin: auto;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    overflow-x: scroll;
    min-height: 8in;
}

.row-link-h:hover{
    background-color: #fafefe;
}

.row-link-h:active{
    background-color: #f9fdfd;
}

th{
    color: var(--bBlue700);
    font-weight: 300;
}

td, th{
    padding: 0 15px;
    margin: 15px;
    overflow: hidden;
    width: 200px;
}

.table-space{
    border-spacing: 40px 0;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

thead{
    border-color: var(--bBlue500);
}

/* Define the scrollbar style */
.scroll::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

/* Define the thumb style */
.scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #c4effe 0%, #bbcfff 100%);
    border-radius: 10px;
}

/* Define the track style */
.scroll::-webkit-scrollbar-track {
    background-color: #fff;
    border: 10px solid #eee;
    border-radius: 10px;
}

/* Style the beginning section of the scrollbar track */
.scroll::-webkit-scrollbar-track-piece:vertical:start {
    background-color: #4d7fff;
}

/* Style the end section of the scrollbar track */
.scroll::-webkit-scrollbar-track-piece:vertical:end {
    background-color: green;
}

/* Define the button style */
.scroll::-webkit-scrollbar-button:vertical {
    background-color: #4d7fff;
    background-repeat: no-repeat;   
    background-size: 50%;
    background-position: center;
}

.scroll::-webkit-scrollbar-button:vertical:decrement {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M213.66,165.66a8,8,0,0,1-11.32,0L128,91.31,53.66,165.66a8,8,0,0,1-11.32-11.32l80-80a8,8,0,0,1,11.32,0l80,80A8,8,0,0,1,213.66,165.66Z'%3E%3C/path%3E%3C/svg%3E");   
}

.scroll::-webkit-scrollbar-button:vertical:increment {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z'%3E%3C/path%3E%3C/svg%3E"); 
}

/* Define the button style when being hovered over */
.scroll::-webkit-scrollbar-button:hover {
    background-color: #999999;
}

.time-period{
    font-size: 24pt;
    font-weight: 200;
}

.export-center{
    margin: auto;
}

.table-title{
    text-align: center;
    color: var(--bBlue);
}